<main class="main-content">
  <!-- Title Description Block -->
  <div class="title-description-block">
    <h1 class="page-title">Automotive News</h1>
    <p class="page-subtitle">
      Stay informed with the latest developments in the automotive world. From
      industry breakthroughs to new vehicle launches, we've got you covered.
    </p>
  </div>

  <div class="features">
    @for(newsItem of news ; track newsItem.title ){
    <app-card
      [title]="newsItem.title"
      [content]="newsItem.content"
      [imgUrl]="newsItem.image"
      [showButton]="false"
    />
    }
  </div>
</main>
