<div class="car-item">
  <div class="car-image-container">
    <img [src]="carItem().image" [alt]="carItem().imageAlt" class="car-image" />
    <div class="favorite-heart" [class.favorite]="carItem().addedToFavorites">
      <i class="fas fa-heart"></i>
    </div>
  </div>
  <div class="car-specs-column">
    <h3 class="car-title">{{ carItem().title }}</h3>
    <div class="car-specs">
      <div class="spec-item">
        <span class="spec-label">Model Year:</span>
        <span class="spec-value">{{ carItem().specifications.modelYear }}</span>
      </div>
      <div class="spec-item">
        <span class="spec-label">Mileage:</span>
        <span class="spec-value">{{ carItem().specifications.mileage }}</span>
      </div>
      <div class="spec-item">
        <span class="spec-label">Engine:</span>
        <span class="spec-value">{{ carItem().specifications.engine }}</span>
      </div>
      <div class="spec-item">
        <span class="spec-label">Power:</span>
        <span class="spec-value">{{ carItem().specifications.power }}</span>
      </div>
    </div>
    <p class="car-description">{{ carItem().description }}</p>
  </div>
  <div class="car-actions-column">
    <div class="price-section">
      <span class="price">{{
        totalPrice() | currency : "USD" : "symbol" : "0.0-0"
      }}</span>
      <div class="price-breakdown">
        <span class="base-price"
          >Base:
          {{ carItem().price | currency : "USD" : "symbol" : "0.0-0" }}</span
        >
        <span class="options-total"
          >Options:
          {{
            totalOptionsPrice() | currency : "USD" : "symbol" : "0.0-0"
          }}</span
        >
      </div>
    </div>
    <div class="options-section">
      <h4 class="options-title">Available Options</h4>
      <div class="options-list">
        @for(carOption of carItem().options; track carOption.name) {
        <div class="option-item">
          <app-checkbox
            [checked]="carOption.selected"
            [label]="carOption.name"
            (checkedChange)="onSelectedOption($event, carOption)"
          />
          <span class="option-price"
            >+ {{
              carOption.price | currency : "USD" : "symbol" : "0.0-0"
            }}</span
          >
        </div>
        }
      </div> 
    </div>
    <div class="car-actions">
      <app-button
        [class.favorite]="carItem().addedToFavorites"
        [buttonLabel]="
          carItem().addedToFavorites ? 'added to favorites' : 'add to favorites'
        "
        buttonIcon="fa-heart"
        (buttonClicked)="addToFavorites()"
        [buttonType]="buttonType.Primary"
      />
      <app-button
        buttonLabel="Add to Cart"
        buttonIcon="fa-shopping-cart"
        [buttonType]="buttonType.Orange"
      />
    </div>
  </div>
</div>
